> SELECT \* FROM Bank_Inventory_pricing;
>
> SELECT \* FROM Bank_Inventory_pricing  
> ORDER BY  
> Estimated_sale_price DESC;  
> SELECT  
> Bank_Inventory_pricing,  
> (Estimated_sale_price - purchase_cost) AS total_profit FROM  
> Bank_Inventory_pricing;
>
> SELECT  
> product_name,  
> SUM(purchase_cost)  
> FROM  
> Bank_Inventory_pricing  
> GROUP BY  
> product;
>
> SELECT
> Product,Quantity,Estimated_sale_price,Quantity\*Estimated_sale_price
> AS Total_Revenue  
> FROM bank_inventory_pricing;